/*** $Animations ***/

@keyframes fadein{
	from { opacity: 0; }
	to { opacity: 1 }
}

@keyframes headerfade{
	from { background-color: #abcdf7 }
	to { background-color: white }
}

.headfade{
	background-color: #f8f8f8 !important;
}
.headclose{
 opacity: 0 !important;
}

/***$header***/
.navbar{
	padding-right: 10%;	
	transition: background-color 1s, opacity 1s;
}
@media screen and (max-width: 1024px) {
	.navbar{
		padding-right: 0%;
	}
}

#nav{
	position: fixed;
	width: 100%;
	background-color: #abcdf7;
	z-index: 10;
}

.navbar-item figure{
	margin-left: 5px;
}

main{ 
	height: 70vh;
	background-color: #abcdf7;
}

.about-section .container{
	padding-bottom: 40px; /*padding below contact button */
}

.about-section{
	height: 60vh;
	padding-top: 10vh;
}

.about-content{
	margin-top: 10vh;
}

.hero-body{
	background: #abcdf7;
	background: linear-gradient(#abcdf7, #abcdf7, #abcdf7, #abcdf7, #db99ff); 
}

main .container{
	text-align: center;
	padding-top: 10%;
}

#main-title{
	font-size: 70px;
	color: #234670;
	animation-name: fadein;
	animation-duration: 3s;
}
#main-subtitle{
	animation-name: fadein;
	animation-duration: 7s;
}

.dark-blue{
	color: #234670;
}

.circle{
	width:100px;
	height:100px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	background-color: #cccccc;
	background-size: 100% 100%;
}

.profile-pic{
	background-image: url("images/profile.jpg");
}





.column.v-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-image img{
	width:100%;
}

.project-info .tags{
	display: flex;
	justify-content: center;
}
.project-info{
	transition: opacity 1s;
}
.project-info:hover{
	opacity: 1;
}

.subtitle.is-light{
	color: #f8f8f8;
}
.is-light{
	color: #f8f8f8;
}
.subtitle.is-dark{
	color: #31619b;
}
.is-dark{
	color: #31619b;
}


@media only screen and (max-width: 600px) {
	/* make project titles stretch taller on mobile devices */
    .project-info{
    	min-height: 400px;
    }
    /* reverse project columns on mobile devices, so title appears above image */
    .columns.is-reverse-mobile { 
        flex-direction: column-reverse;
        display: flex; 
    }
}

/* removes negative margin on columns set by bulma */
.margin-fix{
	margin-top: 0.75em;
}


#sami-i.column{
	background-color: #db99ff;
	background: linear-gradient(#db99ff, #a366ff); 

}

#catbook-i{
	background: #a366ff;
	background: linear-gradient(#a366ff, #f28c87); 
}
.catbook-pic{
	background-image: url('images/CatBook.PNG');
	background-size: 100% 100%;
}
.catbook-pic img{
	opacity:0;
}

#chess-i{
	background: #f28c87;
	background: linear-gradient(#f28c87, #6a8dcc); 
}

#crime-i{
	background-color: #6a8dcc;
	background: #6a8dcc;
	background: linear-gradient(#6a8dcc, #abcdf7); 
}

#shape-i{
	background: #abcdf7;
	background: linear-gradient(#abcdf7, #db99ff);
}

#wally-i{
	background-color: #db99ff;
	background: linear-gradient(#db99ff, #a366ff); 
}
.wally-pic{
	background-image: url('images/WheresWally.PNG');
	background-size: 100% 100%;
}
.wally-pic img{
	opacity:0;
}

.more-projects{
	min-height: 100vh;
	background: #a366ff;
	background: linear-gradient(#a366ff, #f28c87); 
}

.container.more-projects-block{
	padding-top: 10vh;
}

.container.more-projects-block .columns{
	padding-top: 10vh;
}

.mini-project{
	transition: opacity 0.5s;
}
.mini-project:hover{
	opacity: 0.6;
}



 



