html{
	padding:0;
	height:100%;
}

.project-list{
	padding: 20px;
}

body{
	padding: 0;
	margin:0;
	height: 100%;

}

a{
   text-decoration: none;
   font-size: 25px;
}

main{
	margin-top: 0;
	height: 110%;
	background-color: black;
}

section{
	height: 100%;
	width:100%;	
}

/* ----------------HEADER----------------*/
header{
	position: fixed;
	top:0;
	text-align: right;
	width: 100%;
	height:60px;
	background: rgba(255, 255, 255, 0.8);
	border-bottom: 1px solid grey;
	z-index: 1;
}

.header-title{
	position: relative;
	display:block;
	float:left;
	left: 40px;
	font-size: 20px;
	color: black;
}

.header-img{
	position: relative;
	top:16px;
	right: 40px;
	opacity: 0.6;
}
.header-img:hover{
	opacity: 1;
}



/* ----------------MAIN PAGE----------------*/
/* ----------------ALERT----------------*/
.alert-main{
	position:absolute;
	top:20%;
	text-align: right;
	height: 30%;
	width: 50%;
	background: #4178f0; 
    background: -webkit-linear-gradient(right, #001f4a, #4178f0); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left, #001f4a, #4178f0); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, #001f4a, #4178f0); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to left, #001f4a, #4178f0); /* Standard syntax */
	padding: 20px;
	transform: skewY(-10deg);
	animation-name: slidein;
	animation-duration: 2s;
}

.alert-main h1{
	color: white;
	margin-right: 20px;
	font-size: 30px;
	transform: skewY(10deg);
	animation-name: fadein;
	animation-duration: 2s;
}


#sub-head{
	font-size: 35px;
	color: #bdb9b9;
}

/* ----------------LINKS----------------*/
.side-links{
	position: absolute;
	right:10%;
	bottom: 10%;
	height:100px;
	margin-bottom: 15%;
	margin-right: 1%;
}

.side-links ul{
	list-style: none;
}

.side-links ul li{
	width:100%;	
	margin-bottom: 40px;
}

#github-link{
	animation-name: fadein;
	animation-duration: 4s;
}
#codepen-link{
	animation-name: fadein;
	animation-duration: 5s;
}
#contact-link{
	animation-name: fadein;
	animation-duration: 6s;
}

@keyframes slidein {
	from{ width: 0%; }
	to{ width: 50%; }
}

@keyframes smallslidein {
	from{ width: 0%; }
	to{ width: 30%; }
}

@keyframes fadein {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}




@media only screen and (min-width: 1200px) {
	.alert-main h1{
		font-size: 30px;
	}
	#sub-head{
		font-size: 35px;
	}
}

/* ----------------LINKS----------------*/

.alert-right{
	float:right;
	text-align: left;
	height: 200px;
	width: 50%;
	background: #a12222; 
    background: -webkit-linear-gradient(right, #f56767, #a12222); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left, #f56767, #a12222); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, #f56767, #a12222); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to left, #f56767, #a12222); /* Standard syntax */
	padding: 20px;
	transform: skewY(10deg);	
}
.slide{
	animation-name: slidein;
	animation-duration: 1s;
}

.slide-small{
	animation-name: smallslidein;
	animation-duration: 1s;
}

.alert-right h2{
	color: white;
	transform: skewY(-10deg);
}

.alert-left{
	text-align: right;
	height: 150px;
	width: 30%;
	margin-top: 30px;
	background: #b58500; 
    background: -webkit-linear-gradient(right,#b58500,#e3c36d); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left,  #b58500,#e3c36d); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, #b58500, #e3c36d); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to left, #b58500, #e3c36d); /* Standard syntax */
	padding: 20px;
	transform: skewY(-10deg);
}

.alert-left h2{
	color: white;
	transform: skewY(10deg);
}

.spacer{
	height: 350px;
}



article{
	margin-top:50px;
	margin-bottom: 50px;
	text-align: center;
	padding: 50px;
}

.project-image{
	  width: 50%;
  }
 .smaller{
  	width: 30%;
  }

@media only screen and (max-width: 800px) {

  .project-image{
	  width: 100%;
  }

}


.container{
	background-color: #ededed;
}